body
{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(0, 121, 191);
}

form
{
    padding-top: 70px;
    width: 90%;
    max-width: 295px;
    min-width: 100px;
    margin: 0 auto;
}

input
{
    margin-top: 20px;
}

h1, h3
{
    color: white;
    margin-top: 100px;
    text-align: center;
}

h2
{
    color: white;
    margin-top: 0;
}

a
{
    text-decoration: none;
    color: white;
}

form input[type="text"], form input[type="password"], form input[type="email"], .delete-button a
{
    border: solid 1px #C0C0C0;
    width: 100%;
    padding: 7px;
    font-size: 13pt;
    border-radius: 3px;
}

input[type="submit"]:hover, input[type="button"]:hover, .delete-button a:hover
{
    background: rgb(82, 93, 145);
}

input[type="submit"], input[type="button"], .delete-button a
{
    cursor: pointer;
    width: 100%;
    border: none;
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(102, 114, 179);
    box-shadow: 0 -3px rgb(82, 93, 145) inset;
    transition: 0.2s;
}

.error_list
{
    text-align: center;
    list-style-type: none;
}

.error_list li
{
    color: white;
    font-weight: 600;
    font-size: 20px;
}

table
{
    margin: 0 auto;
}

.boxer
{
    display: table;
    margin: 0 auto;
    width: 450px;
    border-collapse: separate;
    border-spacing: 7px 11px;
}

.boxer .box-row
{
    display: table-row;
}

.box-row .box
{
    background: hsla(0, 0%, 100%, .3);
    border-radius: 8px;
    color: #F3F3F3;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    margin-right: 8px;
    min-width: 30px;
}

.btn-block
{
    max-width: 220px;
    min-width: 100px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.btn-block img
{
    margin: 10px auto;
    display: block;
}

.boxer .box
{
    display: table-cell;
    text-align: center;
    vertical-align: top;
}

.column_name
{
    color: white;
    font-weight: 600;
    font-size: 20px;
}

.header
{
    text-align: center;
    background: #64B5F6;
    color: #FFFFFF;
    padding: 1em;
}

.user_info
{
    margin: 50px auto;
    display: table;
}

.header li
{
    display: inline;
    list-style: none;
    padding: 5px;
    border: solid 1px #000000;
    font-weight: 600;
    margin-right: 10px;
}

.navbar-default
{
    background: #026AA7;
}

.navbar
{
    border-radius: 0;
    border: 0;
}

.navbar-default .navbar-nav > li > a
{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 19px;
}

.navbar-default .navbar-nav > li > a:hover
{
    color: #FFFFFF;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form
{
    border-color: #026AA7;
    text-align: center;
}

.navbar-nav
{
    display: inline-block;
    text-align: initial;
    float: none;
}

.navbar-default .navbar-toggle
{
    border-color: #000000;
}

.navbar-default .navbar-toggle .icon-bar
{
    background-color: #000000;
}

.deleteIcon
{
    width: 25px;
    height: 25px;
    background-image: url(../img/delete_red.png);
    background-size: 25px 25px;
    display: block;
    cursor: pointer;
}

.icon-bar-size
{
    width: 25px;
    height: 25px;
}

.delete-button
{
    margin: 10px auto;
    width: 295px;
    text-align: center;
}

.delete-button a
{
    display: block;
    font-size: 14px;
}

.popup-box
{
    position: absolute;
    border-radius: 5px;
    background: #FFFFFF;
    display: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
    z-index: 9999999;
    font-size: 14px;
}

.popup-box .close-x
{
    position: absolute;
    top: 0;
    right: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    cursor: pointer;
    color: #434343;
    padding: 20px;
    font-size: 20px;
}

.popup-box .close-x:hover
{
    color: #000000;
}

.popup-box h2
{
    padding: 0;
    margin: 0;
    font-size: 18px;
    color: #000000;
}

.popup-box .top
{
    padding: 20px;
}

.popup-box .bottom
{
    background: #EEEEEE;
    border-top: 1px solid #E5E5E5;
    padding: 20px;
    padding-left: 37%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.cover
{
    background-color: #000;
    position: absolute;
    top: 0;
    overflow: hidden;
    z-index: 9999;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
}

.popup-box .bottom a
{
    color: #000000;
    margin-right: 30px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer
}
